<header id="header">
    <div class="my_header main-container" id="main" style="width:99%">
        <div>
            <div class="mytop">
                <a href="">
                    <img src="../assets/log01.png" />
                </a>
                <!-- <span>成长守护者平台</span> -->
                <!-- <span>腾讯游戏排行榜</span> -->
            </div>
            <div class="my_img">
                  <a href="#"><img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20190717/830511120753857.jpg" alt="查看详情"/></a> 
             </div> 
             <!-- 导航区域 -->
            <div>
                <div  class="my-navigation" id="tion">
                <div class="myleft">
                   
                </div>
                <div class="d1"> 
                   <a href="#">
                      <h2>官网首页</h2> 
                      <p>HOME</p>  
                   </a> 
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>游戏资料</h2>
                      <p>DATA</p>   
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>内容中心页</h2>
                      <p>CONTENTS</p>    
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>赛事中心</h2> 
                      <p>MATCH</p>
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>百态王者</h2>
                      <p>CULTURE</p>    
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>社区互动</h2>    
                      <p>COMMUNTY</p>
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>玩家支持</h2>
                      <p>PLAYER</p>   
                   </a>
                </div> 
                <div class="" onMouseOver="this.className='none_login'" onMouseOut="this.className='login2'">
                    <a href="#">
                      <h2>欢迎登录</h2> 
                      <p>登录后查看游戏战绩</p>   
                    </a>
                </div>
                <div class="myleft"></div>
                </div>
                <div class="my_ul" id="ul">
                    <ul class="list-group">
                        <li><a href="#">版本介绍</a></li>
                        <li>
                           <a href="#" class="badge badge-pill badge-danger">H</a> 
                            <a href="#">游戏介绍</a>
                        </li>
                        <li><a href="#">英雄资料</a></li>
                        <li><a href="#">爆料站</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">N</a> <a href="#">故事站</a></li>
                        <li><a href="#">游戏壁纸</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">攻略中心</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">H</a> <a href="#">英雄攻略</a></li>
                        <li><a href="#">视频中心</a></li>
                        <li><a href="#">王者视角</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">P</a> <a href="#">作者入驻</a></li>
                        <li><a href="#">媒体入驻</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">冠军杯</a></li>
                        <li><a href="#">KPL</a></li>
                        <li><a href="#">KRKPL</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">W</a> <a href="#">高校赛</a></li>
                        <li><a href="#">城市赛</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">R</a> <a href="#">全民赛</a></li>
                        <li><a href="#">赛事数据</a></li>
                    </ul>
                    <ul>
                        <li><a href="#" class="badge badge-pill badge-danger">H</a> <a href="#">荣耀-传承</a></li>
                        <li><a href="#">王者文化站</a></li>
                        <li><a href="#">王者音乐听</a></li>
                        <li><a href="#">万千世界</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">M</a> <a href="#">星光殿堂</a></li>
                        <li><a href="#">商户特权</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">王者营地</a></li>
                        <li><a href="#">手Q部落</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">H</a> <a href="#">微信圈子</a></li>
                        <li><a href="#">官方微博</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">H</a> <a href="#">微信公众号</a></li>
                        <li><a href="#">手Q订阅号</a></li>
                        <li><a href="#">同人社区</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">成长守护者平台</a></li>
                        <li><a href="#">健康系统</a></li>
                        <li><a href="#" class="badge badge-pill badge-danger">H</a> <a href="#">狄仁杰护卫战</a></li>
                        <li><a href="#">客服专区</a></li>
                        <li><a href="#">礼包兑换</a></li>
                        <li><a href="#">自助服务</a></li>
                    </ul>
                </div>       
            </div> 
           
        </div> 
        
     </div>
     <!-- 用户注册 -->
     <!-- <div class="registered">
         <div>
             <table> 
                 <tr><th>用户注册</th></tr>
                 <tr>
                     <td> 用 户：</td>
                     <td> <input id="put" type="text" placeholder="请输入用户名"></td>
                     <td><span></span></td>
                 </tr>
                 <tr>
                     <td> 密 码：</td>
                     <td> <input id="put" type="password" placeholder="请输入6-12密码"></td>
                     <td><span></span></td>
                 </tr>
                 <tr>
                     <td> 电 话：</td>
                     <td> <input id="put" type="text"></td>
                     <td><span></span></td>
                 </tr>
                 <tr>
                     <td>邮 箱：</td>
                     <td><input id="put" type="email" name="" id=""></td>
                     <td><span></span></td>
                 </tr>
                 <tr>
                     <td> 性 别：</td>
                     <td>男<input type="checkbox" name="" id="n">  女<input type="checkbox" name="" id="n"></td>
                     <td></td>
                 </tr>
                 <tr>
                     <td><a href="">微信</a></td>
                     <td><a href="">QQ</a></td>
                     <td></td>
                 </tr>
                <tr>
                     <td><input id="but" type="button" value="注册"></td> 
                 </tr>
             </table>
         </div> 
         
     </div>-->
     <!-- 用户登录 -->
     <div class="none_login">
         <div >
             <table>
                 <tr><th>用户登录</th></tr>
                 <tr>
                     <td>用 户：</td>
                     <td><input  id="put2" type="text"></td>
                     <td></td>
                 </tr>
                 <tr>
                     <td>密 码：</td>
                     <td><input  id="put2" type="password"></td>
                     <td></td>
                 </tr>
                 <tr>
                     <td style="font-size: 18px;">记住密码<input id="put3" type="checkbox"></td>
                 </tr>
                  <tr>
                     <td colspan="3"><input id="but2" type="button" value="登 录"></td> 
                 </tr>
                 <tr>
                    <td style="font-size: 20px;"><a href="">新用户注册</a></td>
                    <td style="font-size: 20px;" colspan="2"><a href="">微信</a> / <a href="">QQ</a> </td>   
                </tr>
             </table>
         </div>
     </div>
</header>