<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <script src="../bootstrap.js"></script>
</head>
<body>
    <div class="header  main-container" id="main" style="width:99%">
        <div>
            <div class="mytop">
                <a href="">
                    <img src="../assets/log01.png" />
                </a>
                <!-- <span>成长守护者平台</span> -->
                <!-- <span>腾讯游戏排行榜</span> -->
            </div>
            <div class="my_img">
                  <a href="#"><img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20190717/830511120753857.jpg" alt="查看详情"/></a> 
             </div> 
             <!-- 导航区域 -->
            <div>
                <div  class="my-navigation" id="tion">
                <div class="myleft">
                   
                </div>
                <div class="d1"> 
                   <a href="#">
                      <h2>官网首页</h2> 
                      <p>HOME</p>  
                   </a> 
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>游戏资料</h2>
                      <p>DATA</p>   
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>内容中心页</h2>
                      <p>CONTENTS</p>    
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>赛事中心</h2> 
                      <p>MATCH</p>
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>百态王者</h2>
                      <p>CULTURE</p>    
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>社区互动</h2>    
                      <p>COMMUNTY</p>
                   </a>
                </div>
                <div class="d1">
                    <a href="#">
                      <h2>玩家支持</h2>
                      <p>PLAYER</p>   
                   </a>
                </div> 
                <div class="d1">
                    <a href="#">
                      <h2>欢迎登录</h2> 
                      <p>登录后查看游戏战绩</p>   
                    </a>
                </div>
                <div class="myleft"></div>
                </div>
                <div class="my_ul" id="ul">
                    <ul>
                        <li><a href="#">版本介绍</a></li>
                        <li><a href="#">游戏介绍</a></li>
                        <li><a href="#">英雄资料</a></li>
                        <li><a href="#">爆料站</a></li>
                        <li><a href="#">故事站</a></li>
                        <li><a href="#">游戏壁纸</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">攻略中心</a></li>
                        <li><a href="#">英雄攻略</a></li>
                        <li><a href="#">视频中心</a></li>
                        <li><a href="#">王者视角</a></li>
                        <li><a href="#">作者入驻</a></li>
                        <li><a href="#">媒体入驻</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">冠军杯</a></li>
                        <li><a href="#">KPL</a></li>
                        <li><a href="#">KRKPL</a></li>
                        <li><a href="#">高校赛</a></li>
                        <li><a href="#">城市赛</a></li>
                        <li><a href="#">全民赛</a></li>
                        <li><a href="#">赛事数据</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">荣耀-传承</a></li>
                        <li><a href="#">王者文化站</a></li>
                        <li><a href="#">王者音乐听</a></li>
                        <li><a href="#">万千世界</a></li>
                        <li><a href="#">星光殿堂</a></li>
                        <li><a href="#">商户特权</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">王者营地</a></li>
                        <li><a href="#">手Q部落</a></li>
                        <li><a href="#">微信圈子</a></li>
                        <li><a href="#">官方微博</a></li>
                        <li><a href="#">微信公众号</a></li>
                        <li><a href="#">手Q订阅号</a></li>
                        <li><a href="#">同人社区</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">成长守护者平台</a></li>
                        <li><a href="#">健康系统</a></li>
                        <li><a href="#">狄仁杰护卫战</a></li>
                        <li><a href="#">客服专区</a></li>
                        <li><a href="#">礼包兑换</a></li>
                        <li><a href="#">自助服务</a></li>
                    </ul>
                </div>       
            </div> 
           
        </div> 
        
     </div>
    
</body>
</html>