<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>  
</head>
<body>
     <div>
         <div class="row">
            <!-- 空白区域 -->
            <div class="col-2"></div>
            <div class="col-8">
               <div class="row">
                  <!-- 轮播图 -->
                   <div class="col-7">
                      <div class=" mysff_ul">
                         <ul>
                         <li><a href="#">久诚登录大神问答</a></li>
                         <li><a href="#">集卡回城特效</a></li>
                         <li><a href="#">会师深圳总决赛</a></li>
                         <li><a href="#">久胜战神挑战赛</a></li>
                         <li><a href="#">总决赛看点揭秘</a></li>
                      </ul>
                     </div>
                  </div>
                   <!-- 轮播图 右侧 导航详情-->
                   <div class="col-3">
                      <ul class="nav nav-pills">
                         <li class="nav-item">
                            <a class="nav-link  active" data-toggle="pill" href="#pill1">热门</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pill2">新闻</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pill3">公告</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pill4">活动</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pill5">赛事</a>
                        </li>
                         <li>
                            <a href="#">...</a>
                        </li>
                      </ul>
                     <!-- 轮播图 右侧 导航下部详情-->
                      <div class="tab-content">
                           <div id="pill1" class="tab-pane active">
                               <h5>8月6日全服不停机更新公告</h5>
                               <ul>
                                  <li>
                                     <a href="#">峡谷喜迎七夕节 大波福利来袭</a>
                                 </li>
                                  <li>
                                     <a href="">《王者荣耀》公布 “天工”编辑器，即将上...</a>
                                 </li>
                                  <li>
                                     <a href="">王者时刻功能无法使用异常说明 </a></li>
                                  <li>
                                     <a href="">Hero久诚在线解析干将莫邪玩法 </a></li>
                                  <li>
                                     <a href="">8月2日体验服停机更新公告</a></li>
                                  <li>
                                     <a href=""> 体验服【资格申请活动】即将开启</a></li>
                                  <li>
                                     <a href="">新英雄马超、ChinaJoy峡谷开放日...本文信</a> </li>
                               </ul>
                          
                           </div>
                           <div id="pill2" class="tab-pane">
                              <h5>Hero久诚在线解析干将莫邪玩法</h5>
                              <ul>
                                 <li>
                                    <a href="#">2019Chinajoy王者PK赛，十大明星主播巅峰对决</a>
                                 </li>
                                 <li>
                                    <a href="">王者荣耀》公布 “天工”编辑器，即将上线王者模拟战</a>
                                   </li>
                                 <li>
                                    <a href="">《圣斗士星矢（腾讯）》周年庆重磅上线！巅峰赛事爆燃开启</a></li>
                                 <li>
                                    <a href="">新英雄马超、ChinaJoy峡谷开放日...本文信息量有点大！ </a></li>
                                 <li>
                                    <a href="">传说级FMVP皮肤曝光！将军与公主，王者峡谷年度情感大戏上演~</a></li>
                                 <li>
                                    <a href="">狄某有话说 | 如何拥有好队友，快来get匹配新姿势！</a></li>
                                 <li>
                                    <a href="">体验服爆料 | 不想匹配那个Ta，我有一个小...</a> </li>
                              </ul>   
                           </div>
                           <div id="pill3" class="tab-pane">
                              <h5> 8月6日全服不停机更新公告</h5>
                              <ul>
                                 <li>
                                    <a href="#">王者时刻功能无法使用异常说明</a>
                                 </li>
                                 <li>
                                    <a href="#">8月2日体验服停机更新公告</a>
                                   </li>
                                 <li>
                                    <a href="#">体验服【资格申请活动】即将开启</a></li>
                                 <li>
                                    <a href="#">7月31日体验服停机更新公告 </a></li>
                                 <li>
                                    <a href="#"> 8月1日体验服停机更新公告</a></li>
                                 <li>
                                    <a href="#">8月1日体验服停机更新公告</a></li>
                                 <li>
                                    <a href="#"> 净化游戏环境声明及处罚公告（7月24日-7月29日）</a> </li>
                              </ul>   
                           </div>                    
                           <div id="pill4" class="tab-pane">
                              <h5> 峡谷喜迎七夕节 大波福利来袭</h5>
                              <ul>
                                 <li>
                                    <a href="#">世界冠军杯 集卡赢壕礼活动公告</a> </li>
                                 <li>
                                    <a href="#">炎炎夏日全新活动周 峡谷激战得好礼</a>
                                 </li>
                                 <li>
                                    <a href="">助力世冠赛 心愿单升级回馈公告</a>
                                   </li>
                                 <li>
                                    <a href="">夏日福利继续领 限定皮肤返场</a></li>
                                 <li>
                                    <a href="">【稷下的神秘档案】活动公告 </a></li>
                                 <li>
                                    <a href="">当代“英雄”生存现状解析，你差的就只是一件“神装”！</a></li>
                                 <li>
                                    <a href="">夏日盛典明日开启 惊喜福利拿到手软</a></li>
                              </ul> 
                           </div>
                           <div id="pill5" class="tab-pane">
                              <h5>  世冠总决赛看点揭秘，多重观...</h5>
                              <ul>
                                 <li>
                                    <a href="#"> 你是赛评师：eStarPro强势进军世冠总决赛，深圳遭遇RW胜率有多少？</a> </li>
                                 <li>
                                    <a href="#">【世冠今日预报】eStarPro vs RNG.M，宿敌与命运</a>
                                 </li>
                                 <li>
                                    <a href="">第二周五省齐开战，王者荣耀城市赛省赛进行中！</a>
                                   </li>
                                 <li>
                                    <a href="">世冠四强出炉 8月2日半决赛拉开战幕</a></li>
                                 <li>
                                    <a href=""> 世冠总决赛门票已售罄，8月10日不见不散，感恩有你</a></li>
                                 <li>
                                    <a href=""> 世冠总决赛落地深圳大运，多重福利邀你8月10日现场观赛！</a></li>
                                 <li>
                                    <a href="">虎牙明星大腿杯S2赛季全新升级，争锋相对谁能脱颖而出成为最强大腿</a></li>
                              </ul> 
                           </div>
                      </div>
                   </div>
                   <!-- 轮播图最右侧  下载图片 -->
                   <div class="col-2 download">
                      <a href="#"><img src="../assets/1565161896(1).png" alt=""></a>
                      <div class="download_img">
                         <a href="#">
                            <b>狄仁杰护卫站</b>
                            <img src="../assets/方向.png" alt="">
                        </a>
                        <a href="#" class="a1">
                           <b>体验专区</b>
                           <img src="../assets/方向.png" alt="">
                        </a>
                      </div>
                  </div>
               </div>
               <!-- 轮播图下部 一排图片 -->
               <div class="picture_img">
                     <div class="">
                        <a href="#">
                           <img id='img' src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20190801/93149822581186.jpg" ></a></div>
                     <div class=""><a href="#"><img id='img' src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20181210/86638782789061.jpg" ></a></div>
                     <div class=""><a href="#"><img id='img' src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20181210/49934964177020.jpg" ></a></div>
                     <div class=""><a href="#"><img id='img' src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20190305/58993377293822.jpg" ></a></div>
               </div>
                <!-- 内容中心 -->
               <div class="row content">
                     <div class="col-9">
                        <div class="count">
                           <div class="my_count">
                             <img src="../assets/pt.png" />
                             <h3>内容中心</h3>
                           </div>
                           <div>
                              <img src="../assets/log+.png" alt="">
                              <span><a href="">更多</a></span>
                           </div>
                        </div>
                        <!-- 内容中心下方按钮组 -->
                        <div class="but1">
                              <a href="#" class="btn btn-light">精品栏目</a>
                              <a href="#" class="btn btn-light">赛事精品</a>
                              <a href="#" class="btn btn-light">英雄攻略</a>
                        </div>
                        <!--内容中心 下方隐藏组  -->
                        <div class="my_but1">
                           <ul>
                              <li><a href="#" class="btn btn-light ">最新</a></li>
                              <li><a href="#" class="btn btn-light">百星王者带你飞</a></li>
                              <li><a href="#" class="btn btn-light">峡谷情报局</a></li>
                              <li><a href="#" class="btn btn-light">零度王者视角</a></li>
                              <li><a href="#" class="btn btn-light">峡谷重案组</a></li>
                              <li><a href="#" class="btn btn-light">王者克制论</a></li>
                              <li><a href="#" class="btn btn-light">上分拍档</a></li>
                           </ul>
                        </div>
                        <!-- 内容中心 第一排图片 -->
                        <div class="container">  
                            <div class="background_img">
                                 <video src="../assets/bg.mp3" id="v3" ></video>
                                 <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                 <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                            </div>
                            <div class="background_img" >
                                    <video src="../assets/bg.mp3" id="v3" ></video>
                                    <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                    <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                            </div>
                            <div class="background_img">
                                    <video src="../assets/bg.mp3" id="v3" ></video>
                                    <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                    <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                            </div>
                            <div class="background_img">
                                    <video src="../assets/bg.mp3" id="v3" ></video>
                                    <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                    <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                            </div>
                        </div>
                        <!-- 第二排 图片 -->
                        <div class="container">  
                           <div class="background_img">
                                <video src="../assets/bg.mp3" id="v3" ></video>
                                <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                           </div>
                           <div class="background_img" >
                                   <video src="../assets/bg.mp3" id="v3" ></video>
                                   <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                   <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                           </div>
                           <div class="background_img">
                                   <video src="../assets/bg.mp3" id="v3" ></video>
                                   <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                   <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                           </div>
                           <div class="background_img">
                                   <video src="../assets/bg.mp3" id="v3" ></video>
                                   <a href="#" id="ctrl"><img src="../assets/暂停.png" alt=""></a>
                                   <p class="p1">【王者炸麦了3】世冠淘汰赛名场面 RW天秀曜、RNG.M极限翻盘</p>
                           </div>
                        </div>
                        <!-- 赛事中心 导航条 -->
                        <div class="count">
                           <div class="my_count">
                              <img src="../assets/game.png" />
                              <h3>赛事中心</h3>
                           </div>
                           <div>
                               <img src="../assets/log+.png" alt="">
                               <span><a href="">更多</a></span>
                           </div>
                        </div>
                        <!--赛事中心 下方 按钮组  -->
                        <div class="my_but10">
                           <ul>
                              <li><a href="#" class="btn btn-light ">KCC世界冠军杯</a></li>
                              <li><a href="#" class="btn btn-light">KPL职业联赛</a></li>
                              <li><a href="#" class="btn btn-light">KPKPL职业联赛</a></li>
                              <li><a href="#" class="btn btn-light">KOC王者城市赛</a></li>
                              <li><a href="#" class="btn btn-light">王者高校赛</a></li>
                              <li><a href="#" class="btn btn-light">TGA大奖赛</a></li>
                              <li><a href="#" class="btn btn-light">微信游戏邀请赛</a></li>
                           </ul>
                        </div>
                        <!--赛事中心 下方 具体文字详情  -->
                        <div class="footer_content">
                            <div><img src="../assets/content3_imgs/300.jpg" alt=""></div>
                            <div>
                               <h2><a href="">世冠总决赛今日16:30打响，RW、eStarPro谁将夺得首个世冠冠军？世冠总决赛今日16:30打响，RW、eStarPro谁将夺得首个世冠冠军？</a></h2>
                               <ul>
                                 <li>
                                     <p>KCC</p>
                                     <a href="">嘴强王者：RW侠、eStarPro会师深圳总决赛，你看好谁夺冠？</a>
                                     <span>08-07</span>
                                 </li>
                                 <li>
                                     <p>KCC</p>
                                      <a href="">世冠鱼乐战报-斗鱼双雄巅峰对决</a>
                                      <span>08-07</span>
                                 </li>
                                 <li>
                                     <p>KCC</p> 
                                     <a href="">世冠总决赛倒计时三天 观赛指南教你“正确”看世冠</a>
                                     <span>08-07</span>
                                 </li>
                                 <li>
                                     <p>KCC</p> 
                                     <a href="">你是赛评师：久胜战神挑战赛久诚7战4胜，你想说点什么？</a>
                                     <span>08-06</span>
                                 </li>
                                 <li>
                                    <p>KCC</p>
                                     <a href="">久胜战神·干将莫邪FMVP挑战赛告一段落，Hero.久诚四胜三败众人乐开怀</a>
                                     <span>08-06</span>
                                 </li>
                                 <li>
                                    <p>KCC</p>
                                     <a href="">「绝悟」AI 能Gank又会团 世冠半决赛胜职业选手联队</a>
                                     <span>08-06</span>
                                 </li>
                               </ul>
                           </div>
                        </div>
                        <div class="footer_img">
                           <ul>
                              <li>
                                 <div>
                                    <img src="../assets/content3_imgs/302.jpg" alt="">
                                    <p>王者荣耀世冠杯：RNGM战队急行军强打，吕布大招扰乱阵型！</p>
                                 </div>
                              </li>
                              <li>
                                 <div>
                                    <img src="../assets/content3_imgs/303.jpg" alt="">
                                    <p>王者荣耀世冠杯：RW强打撕开缺口，Yguo上官婉儿大招开团！</p>
                                 </div>
                              </li>
                              <li>
                                 <div>
                                    <img src="../assets/content3_imgs/307.jpg" alt="">
                                    <p>世冠总决赛舞台大揭秘</p>
                                 </div>
                              </li>
                              <li>
                                 <div>
                                    <img src="../assets/content3_imgs/305.jpg" alt="">
                                    <p>【今日赛事】世冠总决赛开战！Cat针对Djie边路做针对部署</p>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-3">
                        <div class="my_counts">
                           <div class="my_count">
                              <img src="../assets/zqlog.png" alt="">
                              <h3>英雄/皮肤</h3>
                           </div>
                           <div>
                              <img src="../assets/log+.png" alt="">
                              <span><a href="#">更多</a></span>
                           </div>
                        </div> 
                        <!-- 英雄/皮肤 下方按钮组件 -->
                        <div class="but2">
                              <a href="#" class="btn btn-light">最新英雄</a>
                              <a href="#" class="btn btn-light">最新皮肤</a>
                              <a href="#" class="btn btn-light">周免英雄</a>
                        </div>  
                        <!-- 英雄/皮肤 下方图片组 -->
                        <!-- 上部 -->
                        <div class="right_img">
                           <a href="#"><img src="../assets/content2_imgs/522.jpg" alt=""></a>
                           <h2>新英雄：曜</h2>
                           <p>上线时间：2019.06.27</p>
                        </div>
                        <!-- 下部 -->
                        <div class="button_img">
                           <ul>
                              <li><a href=""><img src="../assets/content2_imgs/506.jpg" alt=""></a></li>
                              <li><a href=""><img src="../assets/content2_imgs/505.jpg" alt=""></a></li>
                              <li><a href=""><img src="../assets/content2_imgs/529.jpg" alt=""></a></li>
                              <li><a href=""><img src="../assets/content2_imgs/511.jpg" alt=""></a></li>
                           </ul>
                        </div>
                        <!-- 默认 隐藏 英雄皮肤 下图片组 -->
                        <div class="right_mia_img">
                             <div>
                                <a href=""><img src="../assets/content2_imgs/179.jpg" alt=""></a>
                                <a href=""><img src="../assets/content2_imgs/108.jpg" alt=""></a>
                                <a href=""><img src="../assets/content2_imgs/134.jpg" alt=""></a>
                                <a href=""><img src="../assets/content2_imgs/111.jpg" alt=""></a>
                             </div>
                             <div>
                                <a href=""><img src="../assets/content2_imgs/191.jpg" alt=""></a>
                                <a href=""><img src="../assets/content2_imgs/149.jpg" alt=""></a>
                                <a href=""><img src="../assets/content2_imgs/503.jpg" alt=""></a>
                                <a href=""><img src="../assets/content2_imgs/more_hero.jpg" alt=""></a>
                             </div>
                        </div>
                        <div class="my_counts bg">
                           <div class="my_count">
                              <img src="../assets/date.png" alt="">
                              <h3>KCC赛程</h3>
                           </div>
                           <div class="ticket">
                              <img src="../assets/$.png" alt="">
                              <span><a href="">购票</a></span>
                           </div>
                           <div>
                              <img src="../assets/log+.png" alt="">
                              <span><a href="#">更多</a></span>
                           </div>
                        </div>
                        <!--Kcc赛程下方导航条  -->
                        <div class="dat">
                           <span>时间</span>
                           <span>战队</span>
                           <span>战队</span>
                        </div>
                        <div class="team" >
                           <span>8-10 :16:30</span>
                           <div><img src="../assets/奥特曼战队.png" alt=""><p>RW侠</p></div>
                           <h3>VS</h3>
                           <div><img src="../assets/战队A.png" alt=""><p>eStar</p></div>
                        </div>
                        <hr class="hr1">
                        <div class="last-img">
                           <a href=""><img src="../assets/content2_imgs/999.jpg" alt=""></a>
                        </div>
                     </div>
               </div>
            </div>          
            <!-- 空白区域 -->
            <div class="col-2"></div>
   
         </div>
     </div>
     <script src="../jquery-1.11.3.js"></script>
     <!-- 内容中心新的 播放详情 可播放的 -->
     <script>
         var ctrl=document.getElementById("ctrl");
         var v3=document.getElementById("v3"); 
         var img=document.querySelector("#ctrl img"); //图片
          ctrl.onclick=function(e){
             e.preventDefault();
             if(v3.paused){
                 img.src="../assets/暂停.png";       
                 v3.play();
             }else{
                 img.src="../assets/播放.png";
                 v3.pause();
              }
             }
      </script>
</body>
</html>