body{margin: 0;padding: 0; }



/* 轮播图 下部文字部分 */
div.col-7{margin: 0;padding: 0}
.mysff_ul ul{
     width: 100%;
     background-color:rgba(30, 28, 31, 0.9);  
     display:inline-flex;
     list-style: none;
     padding-left:0;
     position:absolute;bottom:0px;
     margin: 0px;
}
.mysff_ul>ul li{
   padding:15px 27px 15px; 
   font-size: 19px;  
   color: rgb(153, 152, 152) !important; 
}
/* 鼠标悬停状态 */
.mysff_ul>ul li:hover{
     background-color:rgba(196, 195, 195,0.2) 
}

/*轮播图右侧 导航栏 导航 */
.tab-content,.nav-pills{
     background-color:rgba(30, 28, 31, 0.9); 
}
.nav-pills{
     padding: 10px;
     padding-left: 20px !important;
     border-bottom: 1px solid #000;
}
.nav-pills>li a,.mysff_ul>ul>li a{
   color:rgb(153, 152, 152) !important; 
}

/* 清除col-3 边距 */
div .col-3{ margin: 0%;padding: 0}
/* 轮播图块 高度 */
.tab-pane{height: 350px;}
   
    h5{
      color: rgba(255, 230, 0, 0.521) !important;
      background-color:rgba(30, 28, 31, 0.9);
      margin: 5px 20px 5px;
      padding:10px 35px 10px; 
    }
    .tab-pane>ul li{
      width: 280px;
      padding:6px  8px 8px 0px;
     text-decoration:none;
     white-space:nowrap; 
     text-overflow:ellipsis; 
     -o-text-overflow:ellipsis; 
     overflow: hidden; 
    }
    .tab-pane>ul>li a{
     color:rgb(153, 152, 152); 
   }