div .row,div .col-7,body{margin: 0;padding: 0; }

/* 轮播图 下部文字部分 */
.mysff_ul{
     width: 100%;
     background-color:rgba(30, 28, 31, 0.9);
     position:absolute; bottom:0;
 }
.mysff_ul ul{  
     display:inline-flex;
     list-style: none;
     padding: 0;
     margin: 0;
}
.mysff_ul>ul li{
   padding:18px 30px 18px 40px; 
   font-size: 15px;  
   color: rgb(153, 152, 152) !important; 
}
/* 鼠标悬停状态 */
.mysff_ul>ul li:hover {  background-color:rgba(196, 195, 195,0.2) ;}
.mysff_ul>ul>li>a:hover{  color:rgba(255, 230, 0, 0.521)  }

/*轮播图右侧 导航栏 导航 */
.tab-content,.nav-pills{  background-color:rgba(30, 28, 31, 0.9); }
.nav-pills{
     padding: 10px;
     padding-left: 20px !important;
     border-bottom: 1px solid #000;
}
.nav-pills>li a,.mysff_ul>ul>li a{ color:rgb(153, 152, 152) !important; }

/* 清除col-3 边距 */
div .col-3{ margin: 0;padding: 0}
/* 轮播图块 高度 */
.tab-pane{ height: 350px ;}
    h5{
      color: rgba(255, 230, 0, 0.521) !important;
      background-color:rgba(30, 28, 31, 0.9);
      margin: 5px 20px 5px;
      padding:10px 35px 10px; 
    }
    .tab-pane>ul li{
      width: 280px; /*字体长度 超出最后默认隐藏*/
      padding:6px  8px 8px 0px;
     text-decoration:none;
     white-space:nowrap; 
     text-overflow:ellipsis; 
     -o-text-overflow:ellipsis; 
     overflow: hidden; 
    }
    .tab-pane>ul>li a{ color:rgb(153, 152, 152);  }

   /* 轮播图 最右侧 */
  div .col-2{ margin: 0;padding: 0}
   .download{
     background-color:rgba(30, 28, 31, 0.9); 
     border-left: 1px solid #000;
   }
   /*轮播图 最右侧  下载游戏图片 */
   .download>a img{
        width: 100%;
     border: 1px solid #000;
   }
   .download_img>a{
        display: inline-flex;
        padding:50px 10px 48px 40px;
        color: #ffffff;
        font-size: 20px;
   }
   .download_img>a img{
       width: 15%;
       height: 15%;
   }
   .download_img>.a1 img{ margin-left: 40px; }
   .download_img>a:first-child{  border-bottom: 1px solid rgba(0, 0, 0, 0.39) !important; }

/* 轮播图 下部一排图片 */
.picture_img{
     display: flex;
     justify-content:space-between;
}
.picture_img div{ 
   flex-wrap:nowrap !important;
   overflow:hidden;
   width: 370px;
   height: 170px;
   margin-top: 30px; 
  margin-right: 20px;
}
.picture_img div:first-child{ padding-left: 0px;}
.picture_img div:last-child{ margin-right: 0px !important; }
.picture_img>div>a>img{
     width: 100%; 
     cursor: pointer;
	transition: all 0.6s; 
}
#img:hover{  transform: scale(1.1); }
/* 内容中心 */
div.col-9{ margin: 0;padding: 0; }
.my_count{
   display:flex;
   align-items:center;
}
.count,.my_counts{
     display:flex;
     align-items:center;
     justify-content:space-between;/*弹性布局 两端对齐*/
     margin-top: 30px;
}
.my_counts{
     margin-left: 30px;
     margin-top:25px;
}
/* 内容中心下方 按钮组 */
.but1,.but2{
     display: inline-flex;
     flex-wrap:nowrap;   
}
.but1>a{
  margin-top: 24px;
  width: 383px;
  background-color:#eeeeee;
  padding-bottom: 10px;
  border-bottom:3px solid #fff;
}
.but2>a{
     margin-top: 14px;
     width: 118px;
     background-color:#eeeeee;
     border-bottom:3px solid #fff;
}

.but2{  margin-left: 30px;}
/* 鼠标悬停 按钮样式 */
.but1 a:hover,.but2 a:hover{ border-bottom: 3px solid  #F3C258; }


/*内容中心具体 按钮详情 默认显示  */
.my_but1>ul>li a{ background-color:#eeeeee; padding:5px 15px 5px 15px;  }
.my_but1 ul{ 
     padding-left: 0px;
     display: flex;
     list-style:none; 
     margin-top: 20px;
}
.my_but1>ul li{   padding-right: 30px;  }
.my_but1>ul>li a{  border-radius:10px !important;}
.my_but1>ul>li a:hover{
     background-color: #F3C258;
}
.but1>a:hover +.my_but1{
     display: block;
}



/* 内容中心具体 图片详情 默认显示*/
/*  */
div.container{
     display: flex;
     justify-content:space-between;  
     padding-left: 0px;
     padding-right: 0px;
}
div.container div{ 
     flex-wrap:nowrap !important;
     overflow:hidden;
    margin-right: 40px;
  }
  .container div:first-child{ padding-left: 0px;}
  div.container div:last-child{ margin-right: 0px !important; }


/* 内容 下方 图片组 */
.background_img{ 
     position: relative; 
     background-image: url(../assets/content_imgs/01.jpg);background-size:contain;
     background-repeat:no-repeat;
}
#ctrl{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -30px;
}
/* 播放按钮 图片 */
#ctrl img{
    width: 60px;
    height: 60px;
}
.p1{ margin-top: 10px;  color: #6d6d6d; }


/*英雄/皮肤 下方图片组  默认显示*/
div .right_img{
   border: 1px solid #e5e5e5;
   margin-top: 25px;
   margin-left: 30px;
   display: none /*隐藏*/
}
div .right_img h2{margin-left: 15px;}
div .right_img p{  color: #c5c4c4; margin-left: 12px;}
div .right_img>a img{
     width: 100%;
}
div.button_img ul{
     list-style: none;
     display: flex;
     justify-content: space-between;
     margin-left: -10px;
     margin-top: 20px;
     display: none;/*隐藏*/
}
div.button_img>ul>li>a img{
     height: 200px;
}
/* 第三个按钮 下显示 图片组 */
.right_mia_img div{
     margin-top: 25px;
     margin-left: 30px;
     display: flex;
     justify-content: space-between;
}
.right_mia_img>div>a img{
     height: 234px; 
     width: 85px;; 
}


/* Kcc 赛程 */
.bg{ margin-top:45px; }
.ticket{
     border: 1px solid #F3C258;
     border-radius:5px; 
     padding-left: 6px;
     padding-right: 6px;
}
/* Kcc 赛程 下方按钮组  */
.my_but10>ul>li a{  margin-top: 24px;
     width: 165px;
     background-color:#eeeeee;
     padding-bottom: 10px;
     border-bottom:3px solid #fff;  }
.my_but10 ul{ 
     display: inline-flex;
     flex-wrap:nowrap;
     list-style: none;
     justify-content: space-between;
     padding-left: 0px;
}
.my_but10>ul>li a:hover{  border-bottom: 3px solid  #F3C258; }
/* KCC 赛程下方导航 */
div .dat{
     height: 42px;
     margin: 30px 0px 0px 30px;
     background:#eeeeee;;
     display: flex;
     justify-content: space-between;
     padding: 8px 30px 0px  30px;  
}
/*KCC 赛程下方导航 战队  */
.team{
     margin: 30px 0px 0px 30px; 
     display: flex;
     justify-content: space-between;
     padding: 0px 20px 0px  20px; 
}
.team h3{  color: #F3C258; }
.hr1{ margin-left: 30px;}

/* 右侧底部最后 一张图片 */
.last-img>a img{
     margin: 20px 0px 0px 30px;
   width: 92%;
}

/*赛事中心 下方 具体文字详情*/
.footer_content{  display: flex; }
.footer_content>div>ul li{  display: flex; color: #6d6d6d }
.footer_content>div>h2 a{   color: rgb(102, 102, 102); }
.footer_content>div h2{
     width: 900px;
     margin-left: 40px;
     margin-bottom: 20px;
     text-decoration:none; /*字体长度 超出最后默认隐藏*/
     white-space:nowrap; 
     text-overflow:ellipsis; 
     -o-text-overflow:ellipsis; 
     overflow: hidden; 
}
.footer_content>div>ul>li p{
     border-radius:10px; 
     background-color:#eeeeee;
     height: 30px;
     width:80px;
     margin-right: 20px;
     text-align:center;
     color: #525252;
}
.footer_content>div>ul>li a{
     color: #808080;
     font-size: 20px;
     width: 80%;
     padding:0px 20px 0px 0px;
    text-decoration:none; /*字体长度 超出最后默认隐藏*/
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    overflow: hidden;  
}

/* 底部 最后图片组 */
.footer_img{
   display: inline-flex;
   justify-content: space-between;
}
.footer_img img{
     width: 90%;
     height: 90%;
}


/* 底部 */
.breadcrumb{  background: #fff !important;}
.breadcrumb-item>a{ color: #6d6d6d; font-size: 15px;}
.breadcrumb-item + .breadcrumb-item::before {
     content: "|" !important;
 }
 .footer{
      margin-top:150px;
      display: inline-flex;
      justify-content: space-between;
 }
.breadcrumb{ margin-bottom: 0px !important; margin-left: 0px !important;}
 .text{margin-right: 30px;}
 .text>b{margin-bottom: 0px;}
 .footer>div p{
     color: #6d6d6d; 
     font-size: 15px;  
     padding-top: 0px;
     margin-bottom: 0px;
 }

























